<div class="col-12" fxLayout="row">
  <div class="col-md-2">
    <label for="validationCustom08" style="visibility: hidden" class="form-label">State number</label>
    <input type="text" class="form-control" id="validationCustom08" value="" required placeholder="AA1111BB" formControlName="stateNumber">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-2">
    <label for="validationCustom09" style="visibility: hidden" class="form-label">Brand</label>
    <input type="text" class="form-control" id="validationCustom09" value="" required formControlName="brand">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-2">
    <label for="validationCustom10" style="visibility: hidden" class="form-label">Model</label>
    <input type="text" class="form-control" id="validationCustom10" value="" required formControlName="model">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-2">
    <label for="validationCustom11" style="visibility: hidden" class="form-label">Year</label>
    <input type="number" class="form-control" id="validationCustom11" value="" required placeholder="2020" formControlName="year">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div fxLayout="row" fxlayoutAlign="end end">
    <button type="button" class="btn btn-danger">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
