
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom01" value="{{owner.aLastName}}" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom02" value="{{owner.aFirstName}}" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom03" class="form-label">Middle name</label>
    <input type="text" class="form-control" id="validationCustom03" value="{{owner.aMiddleName}}" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <mat-list role="list" *ngFor="let car of owner.aCars">
    <mat-list-item role="listitem">
      <span>{{car.brand}}</span>&nbsp;
      <span>{{car.model}}</span>&nbsp;
      <span>{{car.year}}</span>
    </mat-list-item>
  </mat-list>
</form>
